<div class="row card">
    <div class="col s7 input-fields">
        <label for="possibility_{{ id }}">Nom</label>
        <input name="possibility_{{ id }}" id="possibility_{{ id }}" type="text" value="{{ name }}">
    </div>

    <div class="col s3 input-fields">
        <label for="possibility_code_{{ id }}">Code</label>
        <input name="possibility_code_{{ id }}" id="possibility_code_{{ id }}" type="text" value="{{ code }}">
    </div>

    <div class="col s2 input-fields">
        <div class="delete-button btn-floating waves-effect waves-light red" style="top:20px;">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>